<div id="fixed-social">
    <div>
        <a href="https://www.facebook.com/9Car-Club-Tours-Travels-114478564067748" class="fixed-facebook" target="_blank"><i
                class="fa fa-facebook"></i> <span>Facebook</span></a>
    </div>
    <div>
        <a href="https://twitter.com/9Travels" class="fixed-twitter" target="_blank"><i class="fa fa-twitter"></i>
            <span>Twitter</span></a>
    </div>

    <div>
        <a href="https://www.linkedin.com/company/72615467/admin/" class="fixed-linkedin" target="_blank"><i
                class="fa fa-linkedin"></i> <span>LinkedIn</span></a>
    </div>
    <div>
        <a href="https://www.instagram.com/9carclub_tours/" class="fixed-instagrem" target="_blank"><i class="fa fa-instagram"></i>
            <span>Instagram</span></a>
    </div>
</div>
<div id="fixed-social-call">
    <div>
        <a href="tel: +91 9325423346" class="fixed-call pulse-button" ><i
                class="fa fa-phone"></i></a>
    </div>
</div>
<div id="fixed-social-whatsapp">
    <div>
        <a href="https://api.whatsapp.com/send?phone=+91 9325423346" class="fixed-call-whatsapp pulse-button-w" ><i
                class="fa fa-whatsapp"></i> </a>
    </div>
</div>

    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Our Gallery</h2>
                        <!-- <span class="title-line"><i class="fa fa-car"></i></span> -->
                        <button class="button"><a routerLink="/pages/booknow">Book Now</a></button>
                        <button class="button">   <a href="tel:+91 9325423346"> +91 9325423346</a></button>
                        
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <!--== Page Title Area End ==-->
    <section id="choose-car" class="section-padding pt-5">
        <div class="container">   
           
            <h2 style="color: #f34900; text-align: center;">Our Visited Places</h2>

            <div class="row">
                <!-- Choose Area Content Start -->
                <div class="col-lg-12">
                    <div class="choose-content-wrap">
                        <!-- Choose Area Tab Menu -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                          
                        </ul>
                        <!-- Choose Area Tab Menu -->

                        <!-- Choose Area Tab content -->
                        <div class="tab-content" id="myTabContent">
                            
                            <!-- Popular Cars Tab Start -->
                            <div class="tab-pane fade show active" id="popular_cars" role="tabpanel"
                                aria-labelledby="home-tab">
                                <!-- Popular Cars Content Wrapper Start -->
                                <div class="popular-cars-wrap">
                                    <br>
                                    <!-- PopularCars Tab Content Start -->
                                    <div class="row popular-car-gird">
                                        <!-- Single Popular Car Start -->
                                        <div class="col-lg-4 col-md-6 con suv mpv">
                                          
                                            <div class="single-popular-car">
                                                <div class="p-car-thumbnails">
                                                    <a href="../../../assets/img/two.jpg" class="car-hover" data-toggle="lightbox" data-gallery="gallery" >
                                                        <img src="../../../assets/img/two.jpg" alt="JSOFT">
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- Single Popular Car End -->

                                        <!-- Single Popular Car Start -->
                                        <div class="col-lg-4 col-md-6 hat sedan">
                                            <div class="single-popular-car">
                                                <div class="p-car-thumbnails">
                                                    <a href="../../../assets/img/three.jpg" class="car-hover" data-toggle="lightbox" data-gallery="gallery" >
                                                        <img src="../../../assets/img/three.jpg" alt="JSOFT">
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- Single Popular Car End -->

                                        <!-- Single Popular Car Start -->
                                        <div class="col-lg-4 col-md-6 suv con mpv">
                                            <div class="single-popular-car">
                                                <div class="p-car-thumbnails">
                                                    <a href="../../../assets/img/four.jpg" class="car-hover" data-toggle="lightbox" data-gallery="gallery" >
                                                        <img src="../../../assets/img/four.jpg" alt="JSOFT">
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- Single Popular Car End -->

                                        <!-- Single Popular Car Start -->
                                        <div class="col-lg-4 col-md-6 con hat">
                                            <div class="single-popular-car">
                                                <div class="p-car-thumbnails">
                                                    <a href="../../../assets/img/five.jpg" class="car-hover" data-toggle="lightbox" data-gallery="gallery" >
                                                        <img src="../../../assets/img/five.jpg" alt="JSOFT">
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- Single Popular Car End -->

                                        <!-- Single Popular Car Start -->
                                        <div class="col-lg-4 col-md-6 con sedan mpv">
                                            <div class="single-popular-car">
                                                <div class="p-car-thumbnails">
                                                    <a href="../../../assets/img/one.jpg" class="car-hover" data-toggle="lightbox" data-gallery="gallery" >
                                                        <img src="../../../assets/img/one.jpg" alt="JSOFT">
                                                    </a>
                                                </div>

                                             
                                            </div>
                                        </div>
                                        <!-- Single Popular Car End -->

                                        <!-- Single Popular Car Start -->
                                        <div class="col-lg-4 col-md-6 hat suv mpv">
                                            <div class="single-popular-car">
                                                <div class="p-car-thumbnails">
                                                    <a href="../../../assets/img/six.jpg" class="car-hover" data-toggle="lightbox" data-gallery="gallery" >
                                                        <img src="../../../assets/img/six.jpg" alt="JSOFT">
                                                    </a>
                                                </div>

                                              
                                            </div>
                                        </div>
                                        
                                    </div>
                                  
                                </div>
                             
                            </div>

                                   
                                    <div class="row newest-car-gird">
                                       
                                        <div class="col-lg-4 col-md-6 tata audi">
                                            <div class="single-new-car">
                                                <div class="p-car-thumbnails">
                                                    <a href="../../../assets/img/seven.jpg" class="car-hover" data-toggle="lightbox" data-gallery="gallery" >
                                                        <img src="../../../assets/img/seven.jpg" alt="JSOFT">
                                                    </a>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="col-lg-4 col-md-6 hat suv mpv">
                                            <div class="single-popular-car">
                                                <div class="p-car-thumbnails">
                                                    <a href="../../../assets/img/Fif.jpg" class="car-hover" data-toggle="lightbox" data-gallery="gallery" >
                                                        <img src="../../../assets/img/Fif.jpg" alt="JSOFT">
                                                    </a>
                                                </div>
    
                                              
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 hat suv mpv">
                                            <div class="single-popular-car">
                                                <div class="p-car-thumbnails">
                                                    <a href="../../../assets/img/Thi.jpg" class="car-hover" data-toggle="lightbox" data-gallery="gallery" >
                                                        <img src="../../../assets/img/Thi.jpg" alt="JSOFT">
                                                    </a>
                                                </div>
    
                                              
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 hat suv mpv">
                                            <div class="single-popular-car">
                                                <div class="p-car-thumbnails">
                                                    <a href="../../../assets/img/Ele.jpg" class="car-hover" data-toggle="lightbox" data-gallery="gallery" >
                                                        <img src="../../../assets/img/Ele.jpg" alt="JSOFT">
                                                    </a>
                                                </div>
    
                                              
                                            </div>
                                        </div>


                                        <div class="col-lg-4 col-md-6 hat suv mpv">
                                            <div class="single-popular-car">
                                                <div class="p-car-thumbnails">
                                                    <a href="../../../assets/img/fou.jpg" class="car-hover" data-toggle="lightbox" data-gallery="gallery" >
                                                        <img src="../../../assets/img/fou.jpg" alt="JSOFT">
                                                    </a>
                                                </div>
    
                                              
                                            </div>
                                        </div>

                                        
                                        <div class="col-lg-4 col-md-6 hat suv mpv">
                                            <div class="single-popular-car">
                                                <div class="p-car-thumbnails">
                                                    <a href="../../../assets/img/Gall.jpg" class="car-hover" data-toggle="lightbox" data-gallery="gallery" >
                                                        <img src="../../../assets/img/Gall.jpg" alt="JSOFT">
                                                    </a>
                                                </div>
    
                                              
                                            </div>
                                        </div>

                                        
                                        <div class="col-lg-4 col-md-6 hat suv mpv">
                                            <div class="single-popular-car">
                                                <div class="p-car-thumbnails">
                                                    <a href="../../../assets/img/fou.jpg" class="car-hover" data-toggle="lightbox" data-gallery="gallery" >
                                                        <img src="../../../assets/img/fou.jpg" alt="JSOFT">
                                                    </a>
                                                </div>
    
                                              
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 hat suv mpv">
                                            <div class="single-popular-car">
                                                <div class="p-car-thumbnails">
                                                    <a href="../../../assets/img/tt.jpg" class="car-hover" data-toggle="lightbox" data-gallery="gallery" >
                                                        <img src="../../../assets/img/tt.jpg" alt="JSOFT">
                                                    </a>
                                                </div>
    
                                              
                                            </div>
                                        </div>


                                        <div class="col-lg-4 col-md-6 hat suv mpv">
                                            <div class="single-popular-car">
                                                <div class="p-car-thumbnails">
                                                    <a href="../../../assets/img/Te.jpg" class="car-hover" data-toggle="lightbox" data-gallery="gallery" >
                                                        <img src="../../../assets/img/Te.jpg" alt="JSOFT">
                                                    </a>
                                                </div>
    
                                              
                                            </div>
                                        </div>

                                       </div>


                                     
                                  
                               
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

