<p>select works!</p>
<section class="Instagram-like-comments">
    <div class="container-fluid">
        <div class="col-md-12" id="like-wrap-top">
            <img class="instagramLogo" src="../../assets/images/instagram-logo.png" alt="instagram-logo">
        </div>

        <div class="col-md-12" id="user-section">
            <div class="row slider-one">

                <div class="container" style=" margin-left: 2.5%;">
                    <div class="total-counter">
                        <p>No. of Copies</p>
                        <p>Size</p>
                        <p>Sub Total</p>
                    </div>
                    <div class="card-slider">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="container mt-2 ">
                                    <div class="item">
                                        <div class="item-card card-block para">
                                            <div class="username-top">
                                                <i class="fa fa-pencil " aria-hidden="true"></i>
                                                <img class="user-img" src="../../../../assets/images/terms.png">
                                                <p>Username <br> <span>Placehere</span></p>

                                            </div>
                                            <div class="card-body">
                                                <img src="../../../../assets/images/nature3.png" alt="Photo of sunset">
                                                <i class="fa fa-heart"></i>
                                                <i class="fa fa-comment-o"></i> <br>
                                                <p class="like">10.328 Likes <br><span>Username instagram <a href="#">
                                                            #template</a></span></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-bottom-slide mt-2">
                                <div class="quantity">
                                    <a href="#" class="quantity__minus minus1"><span
                                            class="fa fa-angle-left"></span></a>
                                    <input name="quantity1" type="text" class="quantity__input1" value="1">
                                    <a href="#" class="quantity__plus plus1"><span class="fa fa-angle-right"></span></a>
                                </div>
                                <div class="select mt-2">
                                    <select name="slct" id="slct">
                                      <option selected >10 * 10</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                    </select>
                                  </div>
                                <div class="bottom-four mt-2">
                                    <p>100 unit</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card">

                                <div class="container mt-2 ">
                                    <div class="item">
                                        <div class="item-card card-block para">
                                            <div class="username-top">
                                                <i class="fa fa-pencil " aria-hidden="true"></i>

                                                <img class="user-img" src="../../../../assets/images/terms.png">
                                                <p>Username <br> <span>Placehere</span></p>

                                            </div>
                                            <div class="card-body">
                                                <img src="../../../../assets/images/nature3.png" alt="Photo of sunset">
                                                <i class="fa fa-heart"></i>
                                                <i class="fa fa-comment-o"></i> <br>
                                                <p class="like">10.328 Likes <br><span>Username instagram <a href="#">
                                                            #template</a></span></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-bottom-slide mt-2">
                                <div class="quantity">
                                    <a href="#" class="quantity__minus minus1"><span
                                            class="fa fa-angle-left"></span></a>
                                    <input name="quantity1" type="text" class="quantity__input1" value="1">
                                    <a href="#" class="quantity__plus plus1"><span class="fa fa-angle-right"></span></a>
                                </div>

                                <div class="select mt-2">
                                    <select name="slct" id="slct">
                                      <option selected >10 * 10</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                    </select>
                                  </div>

                                <div class="bottom-four mt-2">
                                    <p>100 unit</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card">

                                <div class="container mt-2 ">
                                    <div class="item">
                                        <div class="item-card card-block para">
                                            <div class="username-top">
                                                <i class="fa fa-pencil " aria-hidden="true"></i>

                                                <img class="user-img" src="../../../../assets/images/terms.png">
                                                <p>Username <br> <span>Placehere</span></p>

                                            </div>
                                            <div class="card-body">
                                                <img src="../../../../assets/images/nature3.png" alt="Photo of sunset">
                                                <i class="fa fa-heart"></i>
                                                <i class="fa fa-comment-o"></i> <br>
                                                <p class="like">10.328 Likes <br><span>Username instagram <a href="#">
                                                            #template</a></span></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-bottom-slide mt-2">
                                <div class="quantity">
                                    <a href="#" class="quantity__minus minus1"><span
                                            class="fa fa-angle-left"></span></a>
                                    <input name="quantity1" type="text" class="quantity__input1" value="1">
                                    <a href="#" class="quantity__plus plus1"><span class="fa fa-angle-right"></span></a>
                                </div>
                                <div class="select mt-2">
                                    <select name="slct" id="slct">
                                      <option selected >10 * 10</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                    </select>
                                  </div>

                                <div class="bottom-four mt-2">
                                    <p>100 unit</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card">

                                <div class="container mt-2 ">
                                    <div class="item">
                                        <div class="item-card card-block para">
                                            <div class="username-top">
                                                <i class="fa fa-pencil " aria-hidden="true"></i>

                                                <img class="user-img" src="../../../../assets/images/terms.png">
                                                <p>Username <br> <span>Placehere</span></p>

                                            </div>
                                            <div class="card-body">
                                                <img src="../../../../assets/images/nature3.png" alt="Photo of sunset">
                                                <i class="fa fa-heart"></i>
                                                <i class="fa fa-comment-o"></i> <br>
                                                <p class="like">10.328 Likes <br><span>Username instagram <a href="#">
                                                            #template</a></span></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-bottom-slide mt-2">
                                <div class="quantity">
                                    <a href="#" class="quantity__minus minus1"><span
                                            class="fa fa-angle-left"></span></a>
                                    <input name="quantity1" type="text" class="quantity__input1" value="1">
                                    <a href="#" class="quantity__plus plus1"><span class="fa fa-angle-right"></span></a>
                                </div>
                                <div class="select mt-2">
                                    <select name="slct" id="slct">
                                      <option selected >10 * 10</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                    </select>
                                  </div>

                                <div class="bottom-four mt-2">
                                    <p>100 unit</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card">

                                <div class="container mt-2 ">
                                    <div class="item">
                                        <div class="item-card card-block para">
                                            <div class="username-top">
                                                <i class="fa fa-pencil " aria-hidden="true"></i>

                                                <img class="user-img" src="../../../../assets/images/terms.png">
                                                <p>Username <br> <span>Placehere</span></p>

                                            </div>
                                            <div class="card-body">
                                                <img src="../../../../assets/images/nature3.png" alt="Photo of sunset">
                                                <i class="fa fa-heart"></i>
                                                <i class="fa fa-comment-o"></i> <br>
                                                <p class="like">10.328 Likes <br><span>Username instagram <a href="#">
                                                            #template</a></span></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-bottom-slide mt-2">
                                <div class="quantity">
                                    <a href="#" class="quantity__minus minus1"><span
                                            class="fa fa-angle-left"></span></a>
                                    <input name="quantity1" type="text" class="quantity__input1" value="1">
                                    <a href="#" class="quantity__plus plus1"><span class="fa fa-angle-right"></span></a>
                                </div>
                                <div class="select mt-2">
                                    <select name="slct" id="slct">
                                      <option selected >10 * 10</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                    </select>
                                  </div>
                                <div class="bottom-four mt-2">
                                    <p>100 unit</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="col-md-12" id="like-wrap-bottom">
            <p>Total Cost <span>3000 units</span> <button class="btn btn-primary"> Proceed to Pay </button></p>
        </div>
    </div>
</section>