
.w3layoutscontactagileits{
    padding: 20px;
    border-radius: 5px; 
    box-shadow: 0px 1px 7px 0px black;
}

.w3layoutscontactagileits select{
    border: 1px solid #f34900 !important;
      width: 100%;
      padding: 8px;
  }
  .w3layoutscontactagileits input{
    border: 1px solid #f34900 !important;
      width: 100%;
      padding: 8px;
  }
.terms ul li i {
color: #f34900;;
font-size: larger;
line-height: 2px;

}
.terms ul li{
    text-align: justify;
}
.covidli  ul li i{
    color:#f34900;;
font-size: 20px;
line-height: 2px;
}
.covidli  ul li{
    font-size: 18px; 
}