<!--== Footer Area Start ==-->
<section id="footer-area">
    <br><br>
    <!-- Footer Widget Start -->
    <div class="footer-widget-area">
        <div class="container">
            <div class="row">
                <!-- Single Footer Widget Start -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <!-- <h2>About Us</h2> -->
                        <div class="widget-body">
                            <!-- <h3 style="color: whitesmoke;">GoSafe Travels</h3> -->
                            <img src="../../../assets/img/9 car club.png" alt="9car club">
                            <p style="text-align: justify;">9Car Club Tours and Travels is Car Rental Company in Pune, to provide quality and excellent service to our customers promptly and exclusively. We are assured about the quality and reliability of our services..</p>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Widget End -->

                <!-- Single Footer Widget Start -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>Quick Links</h2>
                        <!-- <span class="title-line text-white" style="color: white; background-color: white;"></span> -->
                        <div class="widget-body">
                            <ul class="recent-post">
                                <li>
                                    <a routerLink="/pages/booknow">
                                        Hire a Car
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/pages/cars">
                                        Our Cars
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/pages/services">
                                        Our Servies
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/pages/contact">
                                        Contact us
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="bus-services.html">
                                        Bus on Rent
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Widget End -->

                <!-- Single Footer Widget Start -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>Get In Touch</h2>
                        <div class="widget-body">
                            <!-- <p>Shivneri Travels offers complete travel solutions, with cars covering routes from Pune to Mumbai, Mahableshwar, and Shirdi.</p> -->

                            <ul class="footer-get-touch">
                                <li style="color: white; padding-left: 20px;"><i class="fa fa-map-marker" style="color: #f34900; font-size: 25px;"></i>Handewadi Road, near JSPM College, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pune - 28</li>                              
                                
                                <a href="tel:9325423346">  <li style="color: white;  padding-left: 20px;"><i class="fa fa-mobile" style="color: #f34900; font-size: 30px;"></i> +91
                                    9325423346 </li></a>
                                    
                                    <a href="tel:9923063074">  <li style="color: white;  padding-left: 20px;"><i class="fa fa-mobile" style="color: #f34900; font-size: 30px;"></i> +91
                                        9923063074  </li> </a> 
                                                                   
                                <li style="color: white;  padding-left: 20px;"><i class="fa fa-envelope" style="color: #f34900;"></i><a href="mailto:contact@9carclubtoursandtravels.com" style="color: white; font-size: 13px;">contact@9carclubtoursandtravels.com</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- Single Footer Widget End -->
            </div>
        </div>
    </div>
    <!-- Footer Widget End -->

    <!-- Footer Bottom Start -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright @ 2021 - 9 Car Club Tours and Travels - All rights reserved | Designed &
                        Developed by <a href="https://zpluscybertech.com/" target="_blank">ZPLUS CYBER SECURE TECHNOLOGIES PVT. LTD.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->
</section>
<!--== Footer Area End ==-->