<div id="fixed-social">
    <div>
        <a href="https://www.facebook.com/9Car-Club-Tours-Travels-114478564067748" class="fixed-facebook" target="_blank"><i
                class="fa fa-facebook"></i> <span>Facebook</span></a>
    </div>
    <div>
        <a href="https://twitter.com/9Travels" class="fixed-twitter" target="_blank"><i class="fa fa-twitter"></i>
            <span>Twitter</span></a>
    </div>

    <div>
        <a href="https://www.linkedin.com/company/72615467/admin/" class="fixed-linkedin" target="_blank"><i
                class="fa fa-linkedin"></i> <span>LinkedIn</span></a>
    </div>
    <div>
        <a href="https://www.instagram.com/9carclub_tours/" class="fixed-instagrem" target="_blank"><i class="fa fa-instagram"></i>
            <span>Instagram</span></a>
    </div>
</div>
<div id="fixed-social-call">
    <div>
        <a href="tel: +91 9325423346" class="fixed-call pulse-button" ><i
                class="fa fa-phone"></i></a>
    </div>
</div>
<div id="fixed-social-whatsapp">
    <div>
        <a href="https://api.whatsapp.com/send?phone=+91 9325423346" class="fixed-call-whatsapp pulse-button-w" ><i
                class="fa fa-whatsapp"></i> </a>
    </div>
</div>
    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Attach Taxi</h2>
              
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="taxi ">
                <p style="text-align: center;"><b >Be Our Partner Opportunity is waiting? Call us</b></p>
            </div>

            <div class="col-md-6">
                <b>Do Business With 9 Car Club! Attach your cab now?</b>
                <p> That one car that’s been sitting in your garage for weeks can bring you amazing profits and not to
                    turn
                    down-deals. Wondering how? Get your car/cab/taxi attached with 9 Car Club through our taxi
                    attachment
                    feature and earn amazing money as an entrepreneur. <b> Attach your taxi and lure customers</b> who're
                    looking
                    for bookings in travel, outstation, one way, round trip, airport pickup and drop from all over
                    India.
                    You can attach a four-wheeler of your choice, be it a cab, a taxi or a car. We ensure you the best
                    of
                    services.</p>
                    <br>
                <b>For those who are willing to become partners with 9 Car Club could select from either of the three
                    options of:</b><br>

                <!-- <ol> -->


                <i class="fa fa-arrow-circle-right" style="color: red;"></i>&nbsp;Outstation cab attachment service<br>
                <i class="fa fa-arrow-circle-right" style="color: red;"></i> &nbsp;Local City Taxi attachment
                service<br>
                <i class="fa fa-arrow-circle-right" style="color: red;"></i> &nbsp; Oneway/ Round trip Cab attachment
                service<br><br>


                <!-- </ol> -->

            </div>

            <div class="col-md-6 ">
                <img src="../../../assets/img/cabs.jpg">
            </div>


        </div>

        
        <div class="col-md-12 cab">

            <p style="color: red; padding-bottom: 2px;"> If you have any comments, suggestions or questions, please do
                not hesitate to contact us. Our
                high-quality office staff will help you and answer all your questions.</p><br>
        </div>




        <div class="box">
            <h3 style=" color:steelblue;"> How to attach your Taxi with 9 Car Club</h3>

            Dear Business Partner, Thank you for your interest into joining the 9Car Club Vendor driver Network system.
            We offer Vendor, DCO Vendor Network system

            You can join us as Driver cum owner/Single cab owner/fleet operator (more than one cab with multiple
            drivers). You can attach your any type of taxi (Compact/Sedan/bus) with commercial number plate only. You
            need to share the below mention cab documents, driver details & owner details for registration process.
            Please add information about yourself, car & drivers who will drive for your company. We need the following
            documents for Vendor/DCO/Fleet operators.<br>


            <h6 class="my-3" style=" color:steelblue;">Vendor/DCO/Fleet operator</h6>
            <ol>

                <li> Address Proof</li>
                <li>Office Details with GST(if applicable )</li>
                <li>Passport type photo</li>
                <li>Adhaar card</li>
                <li> PAN card</li>
                <li>Driving Licence</li>
                <li>Phone number (at least two number)</li>
                <li>Bank Account Details(Account Holder name ,IFSC code, Account Number and one cancel cheque copy)</li>
            </ol>

            <h6 class="my-3" style=" color:steelblue;">Driver Details</h6>
            <ol>

                <li> Address Proof</li>
                <li>Passport type photo</li>
                <li>Adhaar card</li>
                <li> PAN card</li>
                <li>Driving Licence</li>
                <li>Reference person contact number (with adhaar card)</li>
                <li>Police Verification Details( it is Mandatory )</li>
                <li>Phone Number (at least two number)</li>
            </ol>

            <h6 class="my-3" style=" color:steelblue;">Cab/Taxi Registration Paper required</h6>
            <ol>

                <li>RC(Registration Copy)</li>
                <li>Lease Paper (if cab is not yours)</li>
                <li>Insurance Paper</li>
                <li> Route Permit Paper</li>
                <li>Fitness certificates for the cab/taxi</li>
            </ol>

        </div>

        <div class="terms">
            Please fill 9 Car Club vendor Agreement copy properly with your signature.

            Also you must share an agreement between TaxiYatri and vendor on Rs. 10/- stamp paper.

            * T &C apply

        </div>



    </div>
