
    <div id="fixed-social">
        <div>
            <a href="https://www.facebook.com/9Car-Club-Tours-Travels-114478564067748" class="fixed-facebook" target="_blank"><i
                    class="fa fa-facebook"></i> <span>Facebook</span></a>
        </div>
        <div>
            <a href="https://twitter.com/9Travels" class="fixed-twitter" target="_blank"><i class="fa fa-twitter"></i>
                <span>Twitter</span></a>
        </div>

        <div>
            <a href="https://www.linkedin.com/company/72615467/admin/" class="fixed-linkedin" target="_blank"><i
                    class="fa fa-linkedin"></i> <span>LinkedIn</span></a>
        </div>
        <div>
            <a href="https://www.instagram.com/9carclub_tours/" class="fixed-instagrem" target="_blank"><i class="fa fa-instagram"></i>
                <span>Instagram</span></a>
        </div>
    </div>
    <div id="fixed-social-call">
        <div>
            <a href="tel: +91 9325423346" class="fixed-call pulse-button" ><i
                    class="fa fa-phone"></i></a>
        </div>
    </div>
    <div id="fixed-social-whatsapp">
        <div>
            <a href="https://api.whatsapp.com/send?phone=+91 9325423346" class="fixed-call-whatsapp pulse-button-w" ><i
                    class="fa fa-whatsapp"></i> </a>
        </div>
    </div>
    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center ">
                        <!-- <h1> 
                            <img src="assets/img/icon/namskar.png" alt="Namskar">
                             "अतिथि <span style="color: goldenrod;"> देवो </span> भवः"</h1> -->
                             <div>

                                <h2>About Us</h2>
                                <button class="button"><a routerLink="/pages/booknow">Book Now</a></button>
                                <button class="button">   <a href="tel:+91 9325423346"> +91 9325423346</a></button>
                                 <!-- <a routerLink="/pages/contact">Contact Us</a> -->


                             </div>
                      
                        <!-- <span class="title-line"><i class="fa fa-car"></i></span> -->
                        <!-----Button Code-->
                         
                       
                            <!-----End Button Code-->

                        <!-- <p>Welcome to Shree Ganesh Tours & Travels.</p> -->
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <!--== Page Title Area End ==-->

    <!--== About Page Content Start ==-->
    <section id="about-area" class="section-padding">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <!-- <h2>About us</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span> -->


                    </div>
                </div>
                <!-- Section Title End -->
            </div>
           
            <!-- <div class="row"> -->
                <!-- About Content Start -->
                <!-- <div class="col-lg-6">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="about-content">

                                <p style="text-align: justify;" class="pt-4 ">9carclub Tours and Travels
                                     Whether you are looking for a luxury car hire for a family trip or a small car for a business trip, we have it all! Our magnitude is spread over a variety of cars that fit your needs for different occasions. What sets us apart is our 24*7 “Book a Cab” service, wherein we offer pick up and drop facility as per your desired location. The add on benefits of travelling with us are, cordial drivers, extremely well maintained cars, and user friendly booking interface, all this at a very reasonable rate.</p> -->
                                   
                                    <!-- <p class="pb-2">Start self-drive, 1st tender <b>Maharastra Rajya Bureau</b> of textbook production & Curriculum Research Balbharati.</p>
                                    <p class="pb-2"> <b>Club Mahindra Pune</b> brach last 3 years provided cab.</p><br> -->
                                <!-- <h6 class="pb-2">What makes us different?</h6> -->
                                <!-- <div class="tech-info-list col-lg-12">
                                    <ul>
                                        <li> Easy online booking system.</li>
                                        <li> No Hidden Charges.</li>
                                        <li>Well Maintained Cars</li>
                                        <li> 24*7 Services</li>
                                    </ul>
                                </div> -->
<!-- 
                            </div>
                        </div>
                    </div>
                </div> -->

              

              
                <!-- About Content End --->

                <!-- About Video Start -->
                <!-- <div class="col-lg-6">
                    <div class="about-image">
                        <img src="assets/img/about1.jpg" class="img-fluid" alt="About us">
                    </div>
                </div> -->
                <!-- About Video End -->
            <!-- </div> -->

            <!-- abt us -->
            <div class="container-fluid ta pb-3 pt-5">
                <h3 style="color: #f34900;" class="text-center">Welcome to 9 Car Club Tours and Travels</h3><br>
            <div class="row ">
                <div class="col-md-6 pt-4">
                    <p style="text-align: justify;" >   9 Car Club Tours and Travels
                        Whether you are looking for a luxury car hire for a family trip or a small car for a business trip, we have it all! Our magnitude is spread over a variety of cars that fit your needs for different occasions. 
                        <br>
                        What sets us apart is our 24*7 “Book a Cab” service, wherein we offer pick up and drop facility as per your desired location. The add on benefits of travelling with us are, cordial drivers, extremely well maintained cars, and user friendly booking interface, all this at a very reasonable rate.
                    <br>
                    The add on benefits of travelling with us are, cordial drivers, extremely well maintained cars, and user friendly booking interface, all this at a very reasonable rate.</p>
                </div>
                <div class="col-md-6">
                    <div class="about-image">
                        <img src="assets/img/about1.jpg" class="img-fluid" alt="About us">
                    </div>
                </div>
            </div>
            </div>



            <!-- About Fretutes Start -->
            <div class="about-feature-area">
                <div class="row">
                    <!-- Single Fretutes Start -->
                    <div class="col-lg-4">
                        <div class="about-feature-item">
                            <!-- <i class="fa fa-car"></i> -->
                        <img src="assets/img/icon/mission.png" class="img-fluid" alt="Mission us">

                            <h3>Mission</h3>
                            <p style="text-align: justify;">Our Mission is to achieve our objectives in an environment of fairness, honesty, and courtesy towards our customers, employees, suppliers, vendors, and society at large.</p>
                        </div>
                    </div>
                    <!-- Single Fretutes End -->

                    <!-- Single Fretutes Start -->
                    <div class="col-lg-4">
                        <div class="about-feature-item">
                            <!-- <i class="fa fa-car"></i> -->
                        <img src="assets/img/icon/vision.png" class="img-fluid" alt="Mission us">

                            <h3>Vision</h3>
                            <p style="text-align: justify;">Our Vision is to be one of the respected company that provides travel and tourism-related solutions to all the segments.</p>
                        </div>
                    </div>
                    <!-- Single Fretutes End -->
                    <!-- Single Fretutes Start -->
                    <div class="col-lg-4">
                        <div class="about-feature-item">
                            <!-- <i class="fa fa-car"></i> -->
                        <img src="assets/img/icon/goal.png" class="img-fluid" alt="Mission us">

                            <h3>Goal</h3>
                            <p style="text-align: justify;">To grow the best Car Rental Organization in India; With the
                                best world-class services and Cars.</p>
                        </div>
                    </div>
                    <!-- Single Fretutes End -->


                </div>
            </div>
            <!-- About Fretutes End -->
        </div>
    </section>
    <!--== About Page Content End ==-->

    <!--== Our Facility Content Start ==-->
    <section id="our-facility" class="section-padding overlay pt-3">
        <h3 class="text-center text-white  mb-4">Our facility and safety services include. </h3>

        <div class="container">
            <div class="row">
                <!-- Single Facility Start -->
                <div class="col-lg-6 col-md-6">
                    <div class="single-our-facility">

                        <ul>
                            <li>When we say we have a help desk 24 * 7</li>
                            <br>
                            <li>All Document clear as par RTO Pune</li>
                            <br>
                            <li>Good music system White in color fitted with excellent<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; upholstery ( Covering) and driven
                                by chauffeurs
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Motor Chalak) clad</li>
                                <br>

                            <li>All Document clear as par RTO Pune</li>
                            <br>

                        </ul>
                    </div>
                </div>
                <!-- Single Facility Start -->

                <!-- Single Facility Start -->
                <div class="col-lg-6 col-md-6">
                    <div class="single-our-facility">

                        <ul>
                            <li>All the vehicles are registered under the ALL INDIA PERMIT.</li>
                            <br>
                            <li>We ensure that our vehicles are serviced. </li>
                            <br>
                            <li>
                                Mineral water & daily newspaper are provided on  a 
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;complimentary basis in A/C cabs
                            </li>   <br>
                            <li>All Document clear as par RTO Pune</li>
                            

                        </ul>
                    </div>
                </div>
                <!-- Single Facility Start -->



            </div>
        </div>
    </section>
    