<header id="header-area" class="fixed-top">
    <div>
        <div id="header-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 ">
                        <div id="logo">
                            <img src="../../../assets/img/9 car club.png" alt="logo">

                        </div>
                    </div>
                    <div class="col-md-10 ">
                        <div id="headertop-d-n" class="row py-2">
                            <div class="col-lg-3 dis-none text-center" style="border-left: none;">
                                <i class="fa fa-map-marker"></i>Pune 24/7* Services
                            </div>

                            <div class="col-lg-5 text-center contact-no">
                                <i class="fa fa-mobile"></i>
                                <span>Booking : </span>
                                <i class="fa fa-phone"></i><a href="tel: +91 9325423346">+91-9325423346</a>,
                                &nbsp;&nbsp;
                                <br class="br-mobile-view">
                                <i class="fa fa-phone"></i><a href="tel: 9561221167">+91-9561221167 </a>
                            </div>

                            <div class="col-lg-4 dis-none text-center">
                                <span><i class="fa fa-envelope"></i> : </span>
                                <a href="mailto:contact@9carclubtoursandtravels.com" style="color: #fff;">contact@9carclubtoursandtravels.com</a>
                            </div>
                        </div>
                        <nav>
                            <div class="row ">

                                <div class="col-md-12 text-center">
                                    <label for="drop" class="toggle"> <i class="fa fa fa-align-justify"
                                            style="color: #f34900; font-size: 30px;"></i></label>
                                    <input class="label" type="checkbox" id="drop" />
                                    <ul class="menu">
                                        <li><a class="testa" routerLink="/pages/home">Home</a></li>
                                        <li><a class="testa" routerLink="/pages/about">About Us</a></li>
                                        <li><a class="testa" routerLink="/pages/services">Services</a></li>
                                        <li><a class="testa" routerLink="/pages/taxi">Attach Taxi</a></li>
                                        <li><a class="testa" routerLink="/pages/cars">Cars</a></li>
                                        <li><a class="testa" routerLink="/pages/gallery">Gallery</a></li>
                                        <li><a class="testa" routerLink="/pages/contact" style="border-right: 1px solid red;">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>