<div id="fixed-social">
    <div>
        <a href="https://www.facebook.com/9Car-Club-Tours-Travels-114478564067748" class="fixed-facebook" target="_blank"><i
                class="fa fa-facebook"></i> <span>Facebook</span></a>
    </div>
    <div>
        <a href="https://twitter.com/9Travels" class="fixed-twitter" target="_blank"><i class="fa fa-twitter"></i>
            <span>Twitter</span></a>
    </div>

    <div>
        <a href="https://www.linkedin.com/company/72615467/admin/" class="fixed-linkedin" target="_blank"><i
                class="fa fa-linkedin"></i> <span>LinkedIn</span></a>
    </div>
    <div>
        <a href="https://www.instagram.com/9carclub_tours/" class="fixed-instagrem" target="_blank"><i class="fa fa-instagram"></i>
            <span>Instagram</span></a>
    </div>
</div>
<div id="fixed-social-call">
    <div>
        <a href="tel: +91 9325423346" class="fixed-call pulse-button" ><i
                class="fa fa-phone"></i></a>
    </div>
</div>
<div id="fixed-social-whatsapp">
    <div>
        <a href="https://api.whatsapp.com/send?phone=+91 9325423346" class="fixed-call-whatsapp pulse-button-w" ><i
                class="fa fa-whatsapp"></i> </a>
    </div>
</div>
    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Our Services</h2>
                        <button class="button"><a routerLink="/pages/booknow">Book Now</a></button>
                        <button class="button">   <a href="tel:+91 9325423346"> +91 9325423346</a></button>
                   
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>



    <!--== Page Title Area End ==-->
    <div class="section-title text-center mb-0">
        <h2 style="text-align: center; color: #f34900;" >9 Car  Club Tours & Travels Services And FACILITIES </h2>
        <span class="title-line"><i class="fa fa-car"></i></span>
    </div>
    <section class="section-padding">
        
        <div class="container">
            <div class="row">
                
                <div class="card-group">
                    <div class="card m-2 border">
                        <img class="card-img-top" src="/assets/img/rental.jpg" alt="Card image cap" style="box-shadow: 0 2 0px 2px;">
                        <div class="card-body">
                            <h5 style="color:#f34900" class="card-title text-capitalize">Reant a Luxury car all india daily service  </h5>
                            <p class="card-text text-justify">
                                Whether you are travelling on business or meeting/conferences,
                                 we provide a convenient and affordable corporate car rental services at door step.
                                  We are available 24/7 and will guarantee you reach your destination on time and with as little hassle as possible.
                                Our Cars are police verified. </p>
                            <br>
                            <!-- <a routerLink="/pages/booknow">Book Pune-Mumbai-Pune Cars</a> -->
                        </div>
                    </div>
                    <div class="card m-2 border">
                        <img class="card-img-top" src="/assets/img/bus.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 style="color:#f34900" class="card-title text-capitalize">Bus Booking service</h5>  
                            <p class="card-text text-justify">9 Car  Club Tours And Travells have been providing travel and tourism services in Pune.
<!--                                 
                                for more than a decade and we can understand the basic needs of our customers to meet their expectations. -->
                                Customers may be looking for luxury travel and some cheap, non-luxury and budget travel, we will listen clearly to our customers ’needs then we will suggest your ideas that make them happy. 
                                <!-- Our service includes Budget 50 Seater Bus / Coach (Non-A / C) and Luxury / 49 Seater Bus / Coach Service (A / C), which are available in the market from Pune Tours at cheaper rates. -->
                            </p>
                            <br>
                            <!-- <a routerLink="/pages/booknow">Book Local & Outstation Packages</a> -->
                        </div>
                    </div>
                    <div class="card m-2 border">
                        <img class="card-img-top" src="/assets/img/oneway.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 style="color:#f34900" class="card-title text-capitalize">One way Drop service</h5>
                            <!-- International Airport Cars -->
                            <p class="card-text text-justify">Time has gone when you need to pay for both sides even if you just need one way drop taxi. Technology has enabled us now to have a much integrated network to serve different customers with one way taxi and on return journey.


                            </p>
                            <br>
                            <!-- <a routerLink="/pages/booknow">Hire Corporate Cars</a> -->
                        </div>
                    </div>
                </div>
                <br>
                <hr>

                <br>
                <div class="card-group">
                    <div class="card m-2 border">
                        <img class="card-img-top" src="/assets/img/tour-packages.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 style="color:#f34900" class="card-title text-capitalize">Tour Packages</h5>
                            <p class="card-text text-justify">9 Car  Club Tours And Travells can arrange for best rental cars to take you on your vacation tours, weekend picnics, or large family events across India. Our chauffeurs have years of experience of traveling across India and can drive you to any destination you desire- from religious places, to favorite vacation destinations, or picnic spots. For the large families and groups, we can arrange for buses of suitable seating capacity.

                            </p>
                            <br>
                            <!-- <a routerLink="/pages/booknow">Book  Packages</a> -->
                        </div>
                    </div>
                   
                    <div class="card m-2 border">
                        <img class="card-img-top" src="/assets/img/holiday.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 style="color:#f34900" class="card-title text-capitalize">Holiday packages</h5>
                            <!-- Local 8/80 package -->
                            <p class="card-text text-justify">What better way to beat the stress than going out for a short trip in nearby scenic areas? The weekend traveler in Pune can take weekend trips to Lonavla, Khandala, Lavasa, Matheran, Mahabaleshwar, Forts, Religious places and locations which offer best in terms of adventure and nature like Kolad. The options are plenty. If you desire to explore, we have a reliable fleet of cars to take you there.

                                </p>
                            <br>
                            <!-- <a routerLink="/pages/booknow">Hire cars in Pune</a> -->
                        </div>
                    </div>
                    <div class="card m-2 border">
                        <img class="card-img-top" src="/assets/img/s5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-capitalize" style="color:#f34900">Pune to Mumbai - Mumbai to Pune daily
                                pickup drop services</h5>
                            <!-- Marriage Event Cabs -->
                            <p class="card-text text-justify">9 Car  Club Tours And Travells offers fully customizable one-way, one day and multi-day packages from Mumbai to Pune or Pune to Mumbai. The distance by road is approximately 150 km and to cover this by car, you will need close to 3 hours. 
                                <!-- The road from Mumbai to Pune passes through the green valleys and rolling hills of the Western Ghats. Avail a car rental from Mumbai to Pune and enjoy the scenic drive. Along the way, you will come across some major tourist destinations and beautiful locations. With a Mumbai to Pune cab service with Pune tours, you can make a quick stop at any of these places and take a tour or pause for a great photo to make unforgettable memories. -->
                                .</p>
                            <br>
                            <!-- <a routerLink="/pages/booknow"> Hire Marriage Event cars</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ///////info///////// -->
    <section class="section-padding ">
        <div class="container pt-5 ">
            <h2 style="text-align: center;color:#f34900">9 Car  Club Tours andTravels Other Services:</h2><br>
            <div class="ta">

            <div class="row info">
                <div class="col-md-6">
                    <h4 style="font-size: 20px;"><i class="fa fa-car" style="color:#f34900" aria-hidden="true"></i>    Rent a Luxury Car all india Daily Service.</h4>   <br>

                    <h4 style="font-size: 20px;"><i class="fa fa-car " style="color:#f34900" aria-hidden="true"></i>    Pune to Mumbai - Mumbai to Pune </h4>   <br>
                        
                        <h4 style="font-size: 20px;"><i class="fa fa-car " style="color:#f34900" aria-hidden="true"></i>    Pune to Nashik - Nashik to Pune</h4>   <br>
                    </div>
                <div class="col-md-6">
                    <h4 style="font-size: 20px;"><i class="fa fa-car " style="color:#f34900" aria-hidden="true"></i>    Pune to Aurangabad - Aurangabad to Pune</h4>
                    <br>
                    <h4 style="font-size: 20px;"><i class="fa fa-car " style="color:#f34900" aria-hidden="true"></i>    Pune to Banglore - Banglore to Pune           </h4>
                    <br>
                    <h4 style="font-size: 20px;"><i class="fa fa-car " style="color:#f34900" aria-hidden="true"></i>    Pune Local Packages</h4>

                </div>
               
                   

                </div>

                


                <!-- <div class="col-md-6">
                    <li>All car & Bus rental with premium & Luxury car.</li>
                    <li>Daily Pune Mumbai Pune cars.</li>
                    <li>Daily 2-days Asthavinayak package.</li>
                    <li>All Cars daily, Weekly, Monthly, Call basis available.</li>
                    <li>Daily Shirdi trip(Home to Home )package.</li>
                    <li>Daily Mahableswar Tour Package(include all food, lodging, etc)(1,2,3 day packages).</li>
                    <li>Event Booking</li>
                    <li>Corporate Booking</li>
                    <!-- <li>Samita's Hub(On Hold)</li> -->
                    <!-- <li>All  the above services are provided on monthly basis.</li> -->

                <!-- </div>
                <div class="col-md-6">
                    <li>GoSafe Travels provide an online <b>Pune to Mumbai Airport taxi service</b> which includes the free
                        home pick from anywhere in Pune including city / <b>Pune Airport and drops</b> off at Mumbai
                        City/Mumbai Airport.</li>
                    <li>We also provide <b>Mumbai Airport to Pune Cab service</b> at the best price.</li>
                    <li>We always think about customer's <b>comfort & security</b> with this legacy we built a separate team to help
                        you in getting...</li>
                </div> --> 
            </div>
        </div>
    </section>
  
    <!-- //////term/////////// -->
    <!-- <section>
        <div class="container">
            <div class="row info">
               
               
                <!-- <div class="col-md-4 info"> -->
                    <!-- <img src="assets/img/icon/time-travel.jpg"  alt="Terms and Condition" > -->
                <!-- </div> -->
                <!-- <div class="col-md-12">
                <h4>  <img src="assets/img/icon/terms.png"  alt="Terms and Condition" style="width: 8%; height: 50px; color: yellow;"> Terms and Conditions:</h4>
                <br><br>
                    <li> <b>Cancellation Policy :</b> The cancellation of the journey will be informed before 48 hrs of your actual
                        journey, a 10% cancellation fee will be taken of your total journey fare.</li>
                    <li> <b>Refund Policy :</b> The refund would be credited to the
                        customer within seven (7) working days.
                    </li>
                    <li>In case of offline booking handover booking cash amount to andover booking cash amount to the vehicle driver</li>
                    <li>Free pickup drop available in a radius of 20 km  from our location.</li>
                    <li>Keep eye on your valuable assets during entering and exit from the vehicle, We are not responsible
                        for your valuable assets.</li>
                    <li>Full fair is applicable on 4 year plus children</li>
                    <li>No damage claim allowed during an accident</li>
                    <li>If you have complaints regarding the car, the driver contact office immediately after finishing the tour
                        complaints will not be entertained.</li>
                    <li>Day calculated from 06:00 a.m. to 00:00 a.m. hrs</li>
                    <li>After 00:00 a.m. hrs, the charge will be Rs. 200 per hrs</li>
                    <li>Daily Driver allowance will be charged Rs. 200</li>
                    <li>Office to Office will add 15 km.</li>
                    <li>The minimum average per day is 300 km</li>
                </div>
                
            </div>
        </div>
    </section>  -->
    <br><br><br>
    <!-- ///////end term//////// -->

